*.iml
out/
.idea/
iteration1/Students/
iteration2/Students/
python_project/Students/
python_project/src/__pycache__/
python_project/src/Models/__pycache__/
python_project/src/Services/__pycache__/
*.class
*.log
python_project/src/Tests/__pycache__/
python_project/docs_word
